.header {
  padding-top: 40px;
  padding-bottom: 40px;

  &__container {
    display: flex;
    align-items: center;
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 7px 30px 7px 11px;
    border-radius: 33px;
    border: 1px solid #d4d4d4;
    transition: 0.3s ease;
  }

  &__link:hover {
    opacity: 0.7;
  }

  &__link:active {
    opacity: 0.4;
  }

  &__link-text {
    margin-left: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    letter-spacing: 0.36px;
    color: $secondly-color;
  }
}
